@import "tailwindcss";

@theme {
  --animate-wiggle: wiggle 0.1s ease-in-out infinite;
  @keyframes wiggle {
    0% {
      transform: rotate(-3deg);
    }
     {
      transform: rotate(3deg);
    }
    50% 100% {
      transform: rotate(-3deg);
    }
  }
}

@layer base {
  h1 {
    @apply text-2xl font-bold italic;
  }
  h2 {
    @apply text-xl;
  }
}

@layer components {
  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }
}
